// About the hero on the index

.hero {
	display: grid;
	grid-template-rows: 1fr 2fr 2fr 2fr;
	max-height: 60vh;
	background-image: $gradBG;
}

.hero h1 {
	padding-left: 10vw;
	font-family: $sans;
	font-size: 3rem;
	grid-row: 2;
	line-height: 4rem;
	color: rgba(white, 0.9);
	span {
		line-height: 0;
		font-size: 1.3em;
		padding-left: 1vw;
	}
	.heroSpan2 {
		padding-left: 2vw;
	}
}
.heroBtns {
	grid-row: 3;
	display: flex;
	justify-content: space-between;
	margin-left: 10vw;
	margin-right: 10vw;
	a {
		text-align: center;
	}
}
.heroDeviders {
	grid-row: 4;
	overflow: hidden;
	position: relative;
	img {
		width: 100vw;
		position: absolute;
		bottom: 0;
	}
}

// About the main content.
.contentIndex {
	color: white;
	background-color: black;
	min-height: 100vh;
	h4{
		padding: 0;
		margin: 0;
	}
}
