.btn {
	color: white;
	padding: .5em 1em;
	border-radius: .5em;
	background-color: black;
}

.btnIndexHero {
	border-radius: .2em;
	box-shadow: 8px 8px 20px rgba(#010100, 0.4);
	padding: 1em 2em;
	height: 3em;
	font-size: 1.2rem;
	width: 35vw;
}
